{% extends 'base.html' %}
{% block content %}

<h1>Medication List</h1>
{% for medication in medication_list %}
  <a href="{% url 'medication_detail' medication.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ medication.name }}</span>
            <span class="card-title">{{ medication.startDate }}</span>
            <span class="card-title">{{ medication.endDate }}</span>
            <span class="card-title">{{ medication.amount }}</span>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}