{% extends 'base.html' %}
{% block content %}

<h1>Medication List</h1>

{% for m in medications_list %}
  <a href="{% url 'medication_detail' m.id  %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ m.name }}</span>
            <span class="card-title">{{ m.startDate }}</span>
            <span class="card-title">{{ m.endDate }}</span>
            <span class="card-title">{{ m.amount }}</span>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}