* {
  padding: 00px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  background-color: white;
}

h1 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  background-color: #c5c3c3;
  color: #2264a3;
  padding: 10px;
  margin: 0px 0 10px 0;
}

h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 18px;
  color: #ea4300;
  margin: 0px 0 10px 0;
}

p {
  line-height: 24px;
  padding: 30px;
  font-size: 14px;
}

a {
  text-decoration: none;
}

main {
  height: 100%;
}

.list-container {
  padding: 20px;
  line-height: 20px;
}

nav,
footer {
  background-color: #2264a3;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
}

.navItem {
  display: inline-block;
  padding-right: 30px;
}

.navLink {
  text-decoration: none;
  color: white;
}

.NIHLego {
  padding: 20px 0 20px 5px;
  width: 350px;
}

.button_container {
  display: flex;
}

.submitButton {
  width: 130px;
  height: 25px;
  background-color: #2264a3;
  text-align: center;
  color:white;
  border:1px solid white;
  border-radius: 4;
}

.submitButton a {
  color: #ffffff;
}

.page-footer {
  font-size: 11px;
  background-color: #dbdad3;
  color: #4f7dc8;
  text-align: center;
}
