{% extends 'base.html' %} {% block content %}
<h1>Patient Information</h1>

<div>
  <div class="list-container">
    Patient Name: {{ patient.name }} <br />
    Age: {{ patient.age }} <br />
    sex: {{ patient.sex }} <br />
    Family Doctor: {{ patient.family_doctor}} <br />
  </div>
  <div class="button_container">
    <div class="submitButton">
      <a href="{% url 'patient_update' patient.id%}">Edit</a>
    </div>
    <div class="submitButton">
      <a href="{% url 'patient_delete' patient.id%}">Delete</a>
    </div>
  </div>
</div>
<h1>Patient Blood Sampling</h1>
<div>
  <form action="{% url 'bloodSample_add' patient.id %}" method="post">
    {% csrf_token %} {{ patientBloodSample_form.as_p }}
    <input type="submit" class="submitButton" value="Add Blood Samples" />
  </form>
</div>

<div class="col s6">
  <table class="striped">
    <thead>
      <tr>
        <th>Collection Date</th>
        <th>Ordering Physician</th>
      </tr>
    </thead>
    <tbody>
      {% for bloodSample in patient.BloodSamples_set.all %}
      <tr>
        <td>{{bloodSample.collectionDate}}</td>
        <td>{{bloodSample.orderingPhysician}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<hr />
<div class="row">
  <div class="col s6">
    <h1>Patient Medications</h1>
    {% if patient.medications.count %} 
    {%for medication in patient.medications.all%}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          Medications: {{medication.name}} <br />
          Date start: {{medication.startDate}}<br />
          Date finished: {{medication.endDate}}<br />
          Dose: {{medication.amount}}<br />
        </span><br>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Medications</h5>
    {% endif %}
  </div>
  <!-- Available medications will come after this line -->

  <div class="col s6">
    <h3>Available Medications</h3>
    {% if medications.count %}
      {% for medication in medications.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Medications: {{ medication.name }} <br>
              Start Date: {{ medication.startDate}} <br>
              End Date: {{ medication.endDate}} <br>
              Dose: {{ medication.amount}} <br>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'patient_medication' patient.id medication.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="submitButton">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{cat.name}} All medications added</h5>
    {% endif %}
  </div>
</div>

{% endblock%}
