{% extends 'base.html' %} {% block content %}
<h1>Patient Information</h1>

<div>
  <div class="list-container">
    <b>Patient Name:</b> {{ patient.name }} <br />
    <b>Age:</b> {{ patient.age }} <br />
    <b>sex:</b> {{ patient.sex }} <br />
    <b>Family Doctor:</b> {{ patient.family_doctor}} <br />
  </div>
  <div class="button_container">
    <div class="submitButton">
      <a href="{% url 'patient_update' patient.id%}">Edit</a>
    </div>
    <div class="submitButton">
      <a href="{% url 'patient_delete' patient.id%}">Delete</a>
    </div>
  </div>
</div>
<h1>Patient Blood Sampling</h1>
<div>
  <form action="{% url 'bloodSample_add' patient.id %}" method="post">
    {% csrf_token %} {{ patientBloodSample_form.as_p }}
    <input type="submit" class="submitButton" value="Add Blood Samples" />
  </form>
</div>

<div class="list-container">
 
    {% for sample in patient.bloodsamples_set.all %}   
        Sample Collection Date: {{sample.collectionDate}} <br>
        Ordering Physican: {{sample.orderingPhysician}} <br>   
    {% endfor %}
   
</div>

<hr />
<h1>Patient Medications</h1>
<div class="list-container">
  <div class="col s6">
   
    {% if patient.medications.count %} 
    {%for medication in patient.medications.all%}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span>Medications:</span> {{medication.name}} <br />
          <span>Date start:</span> {{medication.startDate}}<br />
          <span>Date finished:</span> {{medication.endDate}}<br />
          <span>Dose:</span> {{medication.amount}}<br />
        </span><br>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Medications</h5>
    {% endif %}
  </div>
  <!-- Available medications will come after this line -->

  <div class="col s6">
    <h2>Available Medications</h2>
    {% if medications.count %}
      {% for medication in medications.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Medications: {{ medication.name }} <br>
              Start Date: {{ medication.startDate}} <br>
              End Date: {{ medication.endDate}} <br>
              Dose: {{ medication.amount}} <br>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'patient_medication' patient.id medication.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="submitButton">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{cat.name}} All medications added</h5>
    {% endif %}
  </div>
</div>

{% endblock%}
